<section>
  <div>
    <h1><span>Available Jobs</span> In XYZ Plc.</h1>
    <p>
      At XYZ, we are passionate about leveraging technology to drive innovation
      and deliver exceptional software solutions. With a team of highly skilled
      developers, designers, and project managers, we specialize in creating
      custom software that meets the unique needs of our clients.
    </p>
    <div class="job-filter-wrapper">
      <select name="" id="">
        <option value="Software developer">Front-End developer</option>
        <option value="Software developer">Back-End developer</option>
        <option value="Software developer">Full-Stack developer</option>
      </select>
      <select name="" id="">
        <option value="onsite">OnPerson</option>
        <option value="onsite">OnLine</option>
        <option value="onsite">Mixed</option>
      </select>
      <button>Find a Job</button>
    </div>
  </div>
</section>
